/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: rgb(106, 13, 173);
    justify-content: center;
    align-items: center;

}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233);
    text-align: center;
    margin-bottom: 20px;
}

.container2 {
    background-color: rgb(106, 13, 173);
    text-align: center;
    margin-bottom: 20px;
}

#main-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }

h1 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

h2 {
    font-family: "Fredoka", sans-serif;
    color: #000000;
    font-size: 1.8em;
    font-weight: 500;
}

.buy-button-container {
    text-align: center; /* Center the button */
    margin: 20px 0; /* Add some spacing around the button */
  }

  .buy-button-container .stripe-buy-button {
    background-color: #ffcc00; /* Change the button background color */
    border-radius: 8px; /* Make button corners rounded */
    padding: 15px 30px; /* Adjust button padding */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: white; /* Text color */
  }

  .recommended {
    background-color: #f8f8f84a; /* Highlight the recommended container */
    padding: 20px; /* Add padding */
    margin-bottom: 20px; /* Add margin */
    border-radius: 10px; /* Rounded corners */
  }

  .recommended h3 {
    color: #ff8800; /* Highlight the text color */
    font-weight: bold;
  }

  .highlight-rec {
    font-size: 1.4em;
    background-color: #ffffffc5 !important;
    color: #000;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233);
    transition: background-color 0.3s;
  }

  .highlight-rec:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.603);
    transform: scale(1.03);
    transition: background-color 0.3s;
  }

p {
    font-family: "Fredoka", sans-serif;
    margin-bottom: 20px;
    font-size: 1.2em !important;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

input:focus {
    border-color: #888;
    outline: none;
}

button {
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    color:#ffffff;
    background: #0d6dfdec;
    border: 3px solid #0d6dfd;
    padding: 8px;
    font-size: 1.1em;
    border-radius: 35px;
    transition: background-color 0.3s;
}

button:hover {
    background-image: linear-gradient(to right, #ffffff57, #ffffff6e);
    border: 3px solid #0d6efd;
    transform: scale(1.05);
    transition: background-color 0.3s;
}

.go-back {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #08d9d6;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    color: #000000;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 200px;
    margin: 20px auto;
}

.go-back:hover {
    background-color: #ff2e63 !important;
    border: none !important;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-bottom: 15px;
}


footer {
    margin-top: 40px ;
    background-color: #333;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233);
}

footer p {
    color: #fff !important;
    font-size: 0.8em !important;
}

footer a {
    color: rgb(120, 120, 235);
}

footer a:hover {
    color: rgba(120, 120, 235, 0.781);
}

    /* Modal styling */
    .modal {
        display: none;
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0, 0, 0, 0.705); 
      }
  
      .modal-content {
        border-radius: 25px;
        margin: auto;
        padding: 20px;
        color: #000;
        background-color: yellow;
        border: 4px solid #ffc107;
        border-radius: 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233);
        width: 60%;
      }
  
      .close {
        color: #ffffff;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      input {
        font-family: "Fredoka", sans-serif;
      }
  
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
  
      .error {
        color: red;
        display: none;
      }