/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styling */
body {
    font-family: "Fredoka", sans-serif;
    background-color: #e3e3e9; /* Light greyish background for a cleaner look */
    margin: 0;
    padding: 20px;
    color: #333;
}

button {
    font-family: "Fredoka", sans-serif;
}

h2 {
    font-family: "Fredoka", sans-serif;
    text-align: center;
}

h3 {
    font-family: "Fredoka", sans-serif;
    font-size: 1.4em;
    text-align: center;
}

.bot-name {
    font-family: "Fredoka", sans-serif;
    font-weight: 600 !important;
    background: #fff;
    padding: 1px;
    border-radius: 8px;
    margin-right: 3px;
    color: #6a11cb;
}

li.user-message span {
    font-weight: bold;
    background: #ffffffde;
    padding: 3px;
    border-radius: 8px;
    margin-right: 6px;
    color: #e24545;
    font-family: "Fredoka", sans-serif;
    font-weight: 600 !important;
}

/* Calendar styling */
#month-picker {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#day-picker-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 5px;
    max-width: 80%;
    margin: 20px auto;
}

/* Styling for individual day buttons in the calendar */
.day-button {
    background: #0d6dfdec;
    border: 3px solid #0d6dfd;
    color: white;
    padding: 12px;
    width: 60px;
    height: 60px;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233);
    text-align: center;
    margin: 5px;
    transition: all 0.2s ease;
}

.day-button:hover {
    border: 3px solid #0d6dfd !important;
    background-image: linear-gradient(to right, #ffffff57, #ffffff6e);
    transition: all 0.2s ease;
}

.day-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    #day-picker-container {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        display: grid;
        max-width: 100%;
        gap: 0px;
    }
    .day-button {
        font-size: 1.2em; /* Smaller text for smaller screens */
        padding: 8px;
        width: 55px;
        height: 55px;
    }
}

.button-go-back-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Optional: add some spacing from the top */
}

.button-go-back, div.pagination-container button {
    background-color: #ffa726;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

.button-go-back:hover, div.pagination-container button:hover {
    background-color: #fb8c00;
    transform: translateY(-2px);
}

.month-container {
    justify-content: center; /* Aligns the content inside the container horizontally */
    align-items: center; /* Aligns content vertically */
    width: 90%;
    margin: 10px auto; /* Centers the container horizontally */
    border-radius: 20px;
    background-color: #ffc107ee;
    border: 4px solid #ffc107;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233);
}

.title-container {
    justify-content: center; /* Aligns the content inside the container horizontally */
    align-items: center; /* Aligns content vertically */
    width: 90%;
    margin: 10px auto; /* Centers the container horizontally */
    border-radius: 20px;
    background: #0d6dfdec;
    border: 3px solid #0d6dfd;
    padding: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.041); /* Subtle shadow for depth */
}

/* Chat history container styling */
#history-container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.733), rgba(240, 245, 255, 0.705));
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.233) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.041); /* Subtle shadow for depth */
    background-color: #fff;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    max-width: 600px;
    margin: 35px auto;
    overflow-y: auto;
    max-height: auto; /* Set a fixed maximum height */
}

#history-container h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

/* Chat sessions styling */
.day-session {
    margin-bottom: 20px;
}

.day-session h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.day-session ul {
    list-style-type: none;
    padding: 0;
}

.day-session ul li {
    background-color: #e0f7fa;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.day-session ul li:hover {
    background-color: #b2ebf2;
}

/* Sessions container styling */
.sessions-container {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

/* Messages container styling */
.messages-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

/* Chat message styling */
ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

div.sessions-container ul li {
    font-weight: 600;
}

li {
    background: #198754;
    border: 3px solid #198754;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
}

div.sessions-container ul li:hover {
    background: #198754c7;
    border: 3px solid #198754;
    transition: all 0.2s ease;
}

li:hover {
    background: #ffffff3b;
    border: 3px solid #198754 !important;
    color: #000;
}

/* User message styling */
.user-message {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d); /* Blue gradient with a slight pinkish tint for a modern look */
    padding: 12px;
    margin-bottom: 10px;
    border: 3px solid #ffffff !important;
    color: white; /* Text color stands out on the gradient background */
    border-radius: 20px 20px 0 20px; /* Smooth, rounded edges */
    float: right;
    clear: both;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for a 3D effect */
    font-family: 'Roboto', sans-serif;
    max-width: 70%; /* Limits the width for a better, contained look */
    word-wrap: break-word; /* Ensures text wraps within the balloon */
}

/* Bot message styling */
.bot-message {
    background: linear-gradient(135deg, #6a82fb, #6a82fbb9); /* Green gradient for a fresh, vibrant look */
    padding: 12px;
    margin-bottom: 10px;
    border: 3px solid #ffffff !important;
    color: white; /* White text for high contrast against the gradient */
    border-radius: 20px 20px 20px 0; /* Smooth, rounded edges */
    float: left;
    clear: both;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'Roboto', sans-serif;
    max-width: 70%; /* Keeps the message balloon contained */
    word-wrap: break-word; /* Ensures text wraps within the balloon */
}

/* Additional styling for message appearance */
.message-container {
    padding: 20px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .user-message,
    .bot-message {
        max-width: 90%;
    }

    #history-container {
        width: 90%;
    }
}

/* Message bubbles */
.message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    margin-bottom: 12px;
    display: inline-block;
    font-family: 'Comic Sans MS', Arial, sans-serif;
}

/* User message styling */
.user {
    background-color: #d1e7dd; /* Light green background for user */
    color: #0f5132; /* Dark green text color */
    text-align: left;
    border-radius: 20px 20px 0 20px;
    float: right;
    clear: both;
}

/* Bot message styling */
.bot {
    background-color: #f8d7da; /* Light red background for bot */
    color: #842029; /* Dark red text color */
    text-align: left;
    border-radius: 20px 20px 20px 0;
    float: left;
    clear: both;
}

/* Aligning messages to the right and left */
.user {
    float: right;
    clear: both;
}

.bot {
    float: left;
    clear: both;
}

/* Clear floats after chat messages */
.message-container::after {
    content: "";
    display: table;
    clear: both;
}

.kid-name-display {
    font-size: 1.8em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    background: radial-gradient(circle, rgb(238, 237, 237) 0%, rgb(103, 216, 245) 100%);
    color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text fill transparent to show the gradient */
    background-clip: text; /* This will still ensure the background gradient clips to the text */
}

/* Go Back button styling */
.go-back-button {
    display: block;
    background-color: #ffa726;
    color: #fff;
    padding: 12px 18px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.go-back-button:hover {
    background-color: #fb8c00;
    transform: translateY(-2px);
}

/* Adding animations */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.day-session ul li,
.message {
    animation: slideIn 0.4s ease-in-out;
}

img {
    max-width: 300px !important;
    height: auto !important;
    border-radius: 8px !important;
    margin-top: 10px;
}

@media (max-width: 768px) {
    img {
        max-width: 180px !important;
    }
}