/* main.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    color: #333;
}

/* Form Styles */
form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Error Message Styles */
#error-message, #create-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Toggle Button for Create Account */
.center-container {
    margin-top: 20px;
}

#toggle-create-account {
    background-color: #f57c00;
    width: auto;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

#toggle-create-account:hover {
    background-color: #e65100;
}

/* Create Account Form Styles */
#create-account-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    form, #create-account-form {
        width: 80%;
    }

    #dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    #calendar {
        width: 100%;
    }

    #session-list {
        width: 90%;
    }
}

/* Additional Styles for Dashboard */
#dashboard-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#calendar {
    width: 60%;
}

#session-list {
    width: 30%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

/* Password Container */
.password-container {
    position: relative;
    width: 90%;
    margin: 10px auto;
}

/* Password Field */
.password-container input {
    width: 90%;
}

/* Toggle Password Icon */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

#error-message, #create-error-message, #reset-error-message, #reset-success-message {
    margin-top: 10px;
    font-size: 0.9em;
}

#reset-success-message {
    color: green;
}