@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --color-bg1: rgb(243, 138, 184);
  --color-bg2: rgb(103, 162, 235);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6a11cb;
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: radial-gradient(circle, var(--color-bg1) 0%, var(--color-bg2) 100%);
}

h1 {
  font-size: 3em ;
}

h1, h2 {
  color: #6a11cb;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  text-align: center !important;
}

h3 {
  font-family: "Fredoka", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: #6a11cb;
}

h3 a {
  color: rgb(0, 89, 255);
  text-decoration: underline;
}

h3 a:hover {
  color: rgba(0, 89, 255, 0.842);
}

p span {
  font-weight: 700;
  font-size: 1.3em;
  color: #6a11cb !important;
}

p a {
  color: #6a11cb !important;
}

p a:hover {
  color: #6b11cbc7 !important;
}

p {
  color: #6a11cb !important;
}

.guide-container {
  background: radial-gradient(circle, rgb(243, 138, 184) 0%, rgb(103, 162, 235) 100%);
  padding: 10px;
  border-radius: 30px;
}

.guide-container a {
  color: white;
}

.guide-container a:hover {
  color: rgba(255, 255, 255, 0.788);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 48px;
  background-color: #d5eaf8;
  border-radius: 8px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card .content {
  position: relative;
}

p {
  line-height: 1.6;
  color: #333;
}

/* Button Styling (if needed) */
button {
  padding: 10px 20px;
  background-color: #6a11cb;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4b0f8b;
}

/* Add the fade-out effect */
  .fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}